body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
svg{
    background-color: lightgray;
    
}

.axis{
    stroke-width: 3px;
}
.tick text{
    font-size: 13px;
    font-weight: 600;
}